#wrapper{
   
	width:960px;
	margin: 0 auto 0 auto;
	position:relative;
    border-left: 1px dotted ;
    border-right: 1px dotted ;
}
 
body{
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-position: center center; 
    background-attachment: fixed;
}

h1,p,h2{
text-align:center;
font-weight:bold;
color:#FFF;
}

header{
	float:left;
	width:930px;
	height:80px;
	padding:10px 15px 10px 15px;
    background-color:#3762AE;
}

nav{
    float:left;
    width:960px;
    height:40px;
    background-color:#3762AE;
}
.title-content{
    float:left;
    width:960px;
    margin-left: auto;
    margin-right: auto;
 
}
.content{
    float:left;
    width:960px;
    margin-left: auto;
    margin-right: auto;
}
.pencarian{
    float:left;
    width:960px;
    margin-left: auto;
    margin-right: auto;
}
/*article{
	float:left;
	width:480px;
    background-color:darkblue;
    
}

article section{
	float:left;
	width:450px;
	margin:0 0 10px 0;
	padding:0 15px 0 15px;
    background-color:blue;
    
}
*/

#login{
	border: 5px solid #3762AE;
	padding: 0 10px 0 10px;
	width: 280px;
	margin:0 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
}
#footer{
	clear:both;
	width:930px;
	height:50px;
	padding:5px 15px 5px 15px;
    background-color:#3762AE;
}
